body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    border-radius: 8px;
}

.menu-item h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.menu-item p {
    color: #666;
    font-size: 1em;
    margin: 0.5em 0;
}

.menu-item span {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .whatsapp-button:hover {
    background-color: #1DA851;
  }
